# Fire up GraphLab Create

We always start with this line before using any part of GraphLab Create. It can take up to 30 seconds to load the GraphLab library - be patient!

The first time you use GraphLab create, you must enter a product key to license the software for non-commerical academic use. To register for a free one-year academic license and obtain your key, go to [turi.com](https://turi.com/download/academic.html).

In [2]:
import graphlab
# Set product key on this computer. After running this cell, you will not need to re-enter your product key. 
graphlab.product_key.set_product_key('E2BD-03A1-61E8-DDC3-FF0A-72FD-D608-C0F4')

# Limit number of worker processes. This preserves system memory, which prevents hosted notebooks from crashing.
graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 4)

# Output active product key.
graphlab.product_key.get_product_key()

/opt/conda/lib/python2.7/site-packages/requests/packages/urllib3/connection.py:266: SubjectAltNameWarning: Certificate for beta.graphlab.com has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SubjectAltNameWarning
[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1510754685.log

This non-commercial license of GraphLab Create for academic use is assigned to mmaghraby134@gmail.com and will expire on November 15, 2018.

'E2BD-03A1-61E8-DDC3-FF0A-72FD-D608-C0F4'

# Load a tabular data set

In [3]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /home/jovyan/work/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.118607 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/jovyan/work/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.106496 secs.

# SFrame basics

In [4]:
sf # we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.tail()  # view end of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [ ]:
# .show() visualizes any data structure in GraphLab Create
# If you want Canvas visualization to show up on this notebook, 
# add this line:
graphlab.canvas.set_target('ipynb')

In [ ]:
sf['age'].show(view='Categorical')

# Inspect columns of dataset

In [ ]:
sf['Country']

In [ ]:
sf['age']

Some simple columnar operations

In [ ]:
sf['age'].mean()

In [ ]:
sf['age'].max()

# Create new columns in our SFrame

In [ ]:
sf

In [ ]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [ ]:
sf

In [ ]:
sf['age'] * sf['age']

# Use the apply function to do a advance transformation of our data

In [ ]:
sf['Country']

In [ ]:
sf['Country'].show()

In [ ]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [ ]:
transform_country('Brazil')

In [ ]:
transform_country('Brasil')

In [ ]:
transform_country('USA')

In [ ]:
sf['Country'].apply(transform_country)

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)

In [ ]:
sf